<div class="form-bg">
    <div class="main-container">
        <div class="header-form pt-2">
            <div class="header-form-color">
            </div>
            <div class="header-body p-4 bg-white fs-3">
                {{ generalService.title }}
            </div>
            <div class="header-footer bg-white border-top p-4">
                <div *ngIf="email">
                    <span class="fw-bold text-muted">
                        {{email}}
                    </span>
                    <span class="text-muted">
                        (not shared)
                    </span>
                    <span>
                        <a href="javascript:void(0)" (click)="router.navigate(['/sign-in']);" class="none-underline">
                            Switch account
                        </a>
                    </span>
                </div>

                <div *ngIf="!email">
                    <span>
                        <a href="javascript:void(0)" (click)="router.navigate(['/sign-in']);" class="none-underline">
                            Sign in to Google
                        </a>
                    </span>
                    <span>
                        To save the correction
                    </span>
                    <span>
                        <a href="javascript:void(0)" class="none-underline">
                            See more information
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <form>
            <mat-card class="my-3 p-4">
                <mat-card-content>
                    {{generalService.questionList[0]}}
                </mat-card-content>
                <div class="p-3">
                    <img mat-card-image [src]="imageUrlList[1]" alt="1" (click)="openImagePopup(imageUrlList[1])"
                        class="pointer">
                </div>

                <mat-card-content>
                    <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" name="radio"
                        [(ngModel)]="s_ANS[1]">
                        <mat-radio-button class="d-block radio-button my-2" *ngFor="let ANS1 of ANS1List"
                            [value]="ANS1">
                            <div>
                                {{ANS1}}
                            </div>
                        </mat-radio-button>
                    </mat-radio-group>
                </mat-card-content>

                <div class="p-3" *ngIf="s_ANS[1]">
                    <mat-card-footer>
                        <div class="d-flex justify-content-end ">
                            <button mat-button (click)="clearANS(1)">Clear form</button>
                        </div>
                    </mat-card-footer>
                </div>
            </mat-card>

            <mat-card class="my-3 p-4">
                <mat-card-content>
                    {{generalService.questionList[0]}}
                </mat-card-content>


                <div class="p-3">
                    <img mat-card-image [src]="imageUrlList[2]" alt="2" (click)="openImagePopup(imageUrlList[2])"
                        class="pointer">
                </div>

                <mat-card-content>
                    <div class="text-muted mb-2">
                        Date
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" [formControl]="s_ANS[2]">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>


            <mat-card class="my-3 p-4">
                <mat-card-content>
                    {{generalService.questionList[1]}}
                </mat-card-content>
                <div class="p-3">
                    <img mat-card-image [src]="imageUrlList[3]" alt="3" (click)="openImagePopup(imageUrlList[3])"
                        class="pointer">
                </div>

                <mat-card-content>
                    <mat-form-field appearance="fill">
                        <mat-label>Http Code</mat-label>
                        <mat-select [(ngModel)]="s_ANS[3]" name="select">
                            <mat-option *ngFor="let httpCode of httpCodeList" [value]="httpCode">
                                {{httpCode}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>

                <div class="p-3" *ngIf="s_ANS[3]">
                    <mat-card-footer>
                        <div class="d-flex justify-content-end ">
                            <button mat-button (click)="clearANS(3)">Clear form</button>
                        </div>
                    </mat-card-footer>
                </div>
            </mat-card>


            <mat-card class="my-3 p-4">
                <mat-card-content>
                    {{generalService.questionList[2]}}(for infinite scrolling point)
                </mat-card-content>
                <div class="p-3">
                    <img mat-card-image [src]="imageUrlList[4]" alt="4" (click)="openImagePopup(imageUrlList[4])"
                        class="pointer">
                </div>

                <div class="mb-4">
                    {{generalService.questionList[3]}}
                </div>

                <div class="scrolled" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                    (scrolled)="fetchAndAppenNameToList()" [scrollWindow]="false">
                    <mat-card-content>
                        <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" name="radio-name"
                            [(ngModel)]="s_ANS[4]">
                            <mat-radio-button class="d-block radio-button my-2" *ngFor="let name of nameList"
                                [value]="name">
                                <div>
                                    {{name}}
                                </div>
                            </mat-radio-button>
                        </mat-radio-group>
                    </mat-card-content>

                    <mat-spinner style="margin:0 auto;" *ngIf="isNameListLoading"></mat-spinner>
                </div>

                <div class="p-3" *ngIf="s_ANS[4]">
                    <mat-card-footer>
                        <div class="d-flex justify-content-end ">
                            <button mat-button (click)="clearANS(4)">Clear form</button>
                        </div>
                    </mat-card-footer>
                </div>
            </mat-card>
        </form>

        <div class="d-flex justify-content-between pb-3">
            <button mat-flat-button color="primary" (click)="submit()">send</button>
            <button mat-button color="primary" (click)="clearAll()">Clear form</button>
        </div>

        <small class="mt-2 text-muted">
            Never submit passwords through Google Forms.
        </small>

        <app-footer-form>
        </app-footer-form>
    </div>
</div>