.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.main-form {
    height: auto;
    min-height: 500px;
}

.w-370 {
    width: 370px;
}

::ng-deep .lang-sign-in {
    .mat-form-field-infix {
        background-color: white !important;
    }

    .mat-form-field-flex {
        background-color: white !important;
        padding: 0px !important;
    }

    .mat-form-field-underline {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .centered {
        transform: none;
        position: relative;
        top: inherit;
        left: inherit;
    }

    .main-form {
        border: none !important;
    }

    .w-370 {
        width: 100%;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0px 30px !important;
    }

    .mat-card-content {
        height: 55px;
    }

    .main-form {
        padding-top: 1.5rem !important;
    }
}