<div class="form-bg">
    <div class="main-container">
        <div class="header-form pt-2">
            <div class="header-form-color">
            </div>
        </div>

        <div class="pb-3">
            <mat-card class="mb-3 p-4">
                <mat-card-title>Summary</mat-card-title>
                <mat-card-content>
                    Total submit : {{totalSubmit}}
                </mat-card-content>

                <div class="mt-4">
                    <a href="javascript:void(0)" (click)="router.navigate(['/form-page']);">
                        Send more answers
                    </a>
                </div>
            </mat-card>

            <div *ngFor="let chartOptions of chartOptionsList;let index =index">
                <mat-card class="my-3 p-4">
                    <mat-card-content>
                        {{generalService.questionList[index]}}
                    </mat-card-content>
                    <mat-card-content>
                        <div id="chart">
                            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                [labels]="chartOptions.labels" [responsive]="chartOptions.responsive"></apx-chart>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>