
<div class="text-muted">
    <div class="text-center mt-2">
        <small>
            This content is neither created nor endorsed by Google.
            <u>
                Report Abuse
            </u>
            -
            <u>
                Terms of Service
            </u>
            - <u>
                Privacy
                Policy
            </u>
        </small>
    </div>

    <div class="py-4 text-center">
        <div href="//www.google.com/forms" class="none-underline pointer">
            <span class="fs-3">
                Google
            </span>
            <span class="text-muted fs-5">
                Forms
            </span>
        </div>
    </div>
</div>