<div class="form-bg h-100">
    <div class="main-container">
        <div class="header-form pt-2">
            <div class="header-form-color">
            </div>
            <div class="header-body p-4 bg-white fs-3">
                {{ generalService.title }}
            </div>
            <div class="header-footer bg-white px-4 pb-4">
                <div>
                    We have recorded your answer.
                </div>

                <div class="mt-4">
                    <a href="javascript:void(0)" (click)="router.navigate(['/form-page']);">
                        Send more answers
                    </a>
                </div>

                <div class="mt-4">
                    <a href="javascript:void(0)" (click)="router.navigate(['/summary-page']);">
                        View all answers
                    </a>
                </div>

            </div>
        </div>

        <app-footer-form>
        </app-footer-form>




    </div>
</div>