// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat.define-palette(mat.$indigo-palette);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$theme-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme((color: (primary: $theme-primary,
                accent: $theme-accent,
                warn: $theme-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

@import 'ngx-toastr/toastr';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.none-underline {
    text-decoration: none !important;
}

.main-container {
    margin: auto;
    max-width: 90vw;
    width: 640px
}

.form-bg {
    background-color: #f0ebf8;
}

.header-form-color {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 10px;
    background-color: rgb(103, 58, 183);
}

.header-footer {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.pointer {
    cursor: pointer;
}